body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.toc {
  position: fixed;
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  margin-left: 150px;
  padding: 16px;
}

blockquote {
  margin: 0;
  background-color: #efefef;
  padding: 8px 16px;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

h1,
h2,
h3 {
  margin-top: 36px;
}

a,
a:visited {
  color: #6a737d;
}

.copy-button {
  display: block;
  position: relative;
  right: 4px;
  top: -44px;
  text-align: right;
}

.file-path {
  position: relative;
  bottom: -18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
